.main{
    background-color: #000;
    background-image: url(../../img/banner.png);
    background-repeat:  no-repeat;
    background-position: center;
    /*background-size: cover;*/
}
.main__container{
    height: 540px;
}
.main__hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 127px;
    max-width: 480px;
}
.main__hero-title h1{
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    color: #55C2FF;
}
.main__hero-subtitle {
    margin-top: 18px;
}

.main__hero-subtitle p{
    font-family: 'IBM Plex Sans';
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
}

.main__hero-btn{
    margin-top: 50px;
    padding: 11px 41px;
    max-width: 232px;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    background: #55C2FF;
    border-radius: 8px;
}

.main__hero-btn:hover{
    outline: 1px solid #1C88EB;
}
.main__hero-btn:active{
    background: #1C88EB;
}
.main__hero-btn:disabled{
    background: #D7D7D7;
}

@media (max-width: 1024px){
    .main__container{
        height: 450px;
    }
    .main__hero{
        padding-top: 92px;
    }
    .main__hero-btn{
        margin-top: 30px;
    }
}

@media (max-width: 768px){
    .main__container{
        height: 350px;
    }
    .main__hero{
        padding-top: 81px;
        max-width: 384px;
    }
    .main__hero-title h1{
        font-size: 60px;
        line-height: 73px;
    }
    .main__hero-subtitle {
        margin-top: 10px;
    }
    .main__hero-subtitle p{
        font-size: 16px;
        line-height: 21px;
    }
    .main__hero-btn{
        margin-top: 25px;
    }
}

@media (max-width: 480px){
    .main__container{
        height: 260px;
    }
    .main__hero{
        padding-top: 50px;
        max-width: 230px;
    }
    .main__hero-title h1{
        font-size: 40px;
        line-height: 48px;
    }
    .main__hero-btn{        
        padding: 10px 30px;
        max-width: 188px;
        font-size: 12px;
        line-height: 15px;
    }
}